.git
.gradle/*
.settings/*
bin/*
build/*
eclipse/*
gradle/*
.classpath
.project
build.bat
build.gradle
CREDITS-fml.txt
forge-1.8-11.14.1.1405-changelog.txt
gradlew*
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
setup eclipse.bat
setup workspace.bat